@font-face {
    font-family: 'seagram_tfbregular';
    src: url('../fonts/seagram_tfb-webfont.woff2') format('woff2'),
         url('../fonts/seagram_tfb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
}

nav {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

a {
    margin-left: auto;
    margin-right: auto;
	font-family: 'seagram_tfbregular';
	color: #ffffff;
}


p {
	font-family: Times New Roman;
	font-size: 20px;
	color: #ffffff;
}

.footer {
  font-family: 'seagram_tfbregular';
}

h1 {
	font-family: 'seagram_tfbregular';
	font-style: italic;
  font-size: 28px;
	color: #ffffff;
}

h2 {
	font-family: 'seagram_tfbregular';
	color: #ffffff;
   font-size: 24px;
}


div {
	margin-left: auto;
  margin-right: auto;
  padding: 10px;
	margin: 25px;
}

ul {
	font-family: Times New Roman;
	color: #ffffff;
}

li {
	font-family: Times New Roman;
	font-size: 20px;
	color: #ffffff;
}

img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.headimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

footer {
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

input, textarea {
 font-family: Times New Roman;
  font-size: 16px;
  padding: 10px;
}

button {
  padding: 5px;
  font-family: 'seagram_tfbregular';
  font-size: 32px;
}

@media screen and (max-width: 1100px) {
  nav {
    font-size: 32px;
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  li {
    font-size: 20px;
  }
  button{
    font-size: 32px;
  }
  .headimg {
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  nav {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  li {
    font-size: 18px;
  }
  button{
    font-size: 28px;
  }
  .headimg {
    width: 80%;
  }
}